<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PokeMatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>090135B41F68C283003795F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0907CD801ED3832D00350677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0907CD971ED3832D00350677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0907CDA21ED3832D00350677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>090A22DC1EEDF53C008C3198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0953F3F01F2942C900BB4426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0953F3FE1F29433E00BB4426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0953F4131F29465100BB4426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0953F4211F29466700BB4426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>097F3A8C1F5727B800DBC506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>097F3A9A1F5727F000DBC506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>099EE7B91F59171200DC5D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>099EE7CB1F591F1B00DC5D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>099EE7DC1F59204D00DC5D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>099EE7EA1F5920B700DC5D79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B3E8B51F579513003E66B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B3E8C31F579526003E66B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B3E8D11F579769003E66B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09B3E8DF1F579777003E66B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
